.vscode/**
.vscode-test/**
src/**
server/**
tests/**
node_modules/**
.git/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
dev.md
release.sh
SUPPORT.md
**/tsconfig.json
**/eslint.config.mjs
**/.vscode-test.*
package-lock.json
!out/**
out/test/**
out/**/*.map
